<main class="my-bookings">
    <div class="bookings-table">
        <table>
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Flight no</th>
                    <th>Dep</th>
                    <th>Terminal</th>
                    <th>Arr</th>
                    <th>Terminal</th>
                    <th>Dep On</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Passengers</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookings">
                    <td>{{ booking.bookingId }}</td>
                    <td>{{ booking.flightNo }}</td>
                    <td>{{ booking.depLocation }}</td>
                    <td>{{ booking.depTerminal }}</td>
                    <td>{{ booking.arrLocation }}</td>
                    <td>{{ booking.arrTerminal }}</td>
                    <td>{{ booking.depTime }}</td>
                    <td>{{ booking.duration }}</td>
                    <td>{{ booking.priceTotal }} SEK</td>
                    <td>{{ booking.passengers }}</td>
                </tr>
            </tbody>
        </table>

        <p *ngIf="bookings.length === 0">No bookings found.</p>
    </div>



</main>

