<main class="landing-page">
    <div class="subheader">
        <h2 class="h2">{{ subtitle }}</h2>
        <p class="description">Book your next appointment with us</p>
        <h2 class="h2">Book Now</h2>
    </div>
    
    <div class="form-container">
        <app-search-form (formSubmit)="handleFormSubmit($event)"></app-search-form>
    </div>

    <div class="flight-list" *ngIf="recievedFormData">
        <app-flight-list [searchData]="recievedFormData"></app-flight-list>
    </div>
    
</main>