<!-- User Form Component Template -->

<!-- Form with Angular Reactive Forms binding -->
<form [formGroup]="form" class="form-group">

    <!-- Close button for modal -->
    <div *ngIf="isMobile" class="closable" data-closable>
        <button class="close-btn" aria-label="Close alert" type="button" mat-button (click)="closeDialog()" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- All possible fields below -->
    <div class="form-content">
        <div class="title">
            <h1>{{ title }}</h1>
        </div>

        <div class="fields">
            <div class="form-item" id="id" *ngIf="fields.includes('id')">
                <label for="id">User ID: </label>
                <input type="text" id="id" formControlName="id"/>
            </div>


            <div class="form-item" *ngIf="fields.includes('role')">
                <label for="role">Role: </label>
                <select name="role" id="role" formControlName="role" required aria-required="true">
                    <option value="" disabled>Select</option>
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
            </div>

            <div class="form-item" *ngIf="fields.includes('name')">
                <label for="name">Name: </label>
                <input type="text" id="name" formControlName="name" required aria-required="true"/>
            </div>

            <div class="form-item" *ngIf="fields.includes('email')">
                <label for="email">Email: </label>
                <input type="email" id="email" formControlName="email" required aria-required="true"/>
            </div>

            <div class="form-item" *ngIf="fields.includes('phone')">
                <label for="phone">Mobile number: </label>
                <input type="tel" id="phone" formControlName="phone" pattern="^[0-9]+$" inputmode="numeric" required aria-required="true" />
            </div>

            <div class="form-item" *ngIf="fields.includes('password')">
                <label for="password">Password: </label>
                <input type="password" id="password" formControlName="password" required aria-required="true" />
            </div>

            <div class="form-item" *ngIf="fields.includes('password_confirmation')">
                <label for="password_confirmation">Confirm password: </label>
                <input type="password" id="password_confirmation" formControlName="password_confirmation" required aria-required="true" />
            </div>
        </div>

        <!-- Submit button -->
        <div class="btn-container">
            <button type="submit" class="submit-btn" (click)="onSubmit()">Submit</button>
        </div>
    </div>

</form>