<form [formGroup]="searchForm" class="form">

    <div class="radio-btn-section">

        <div class="one-way">
            <input type="radio" id="one-way" formControlName="tripType" value="one-way" checked />
            <label for="one-way">One way</label>
        </div>

        <!-- NOT IMPLEMENTED -->
         
        <div class="round-trip">
            <input type="radio" id="round-trip" value="round-trip" [disabled]="true" />
            <label for="round-trip">Round trip - not implemented</label>
        </div>
        
    </div>

    <div formGroupName="departureFlight" class="formgroup">
        <div class="date-section">
            <div class="date-from">
                <label for="departureDate">Departure date:</label>
                <input type="date" id="departureDate" formControlName="departureDate" required>
            </div>
            <!-- NOT IMPLEMENTED-->
            <!--
            <div class="date-to" *ngIf="searchData.tripType === 'round-trip'">
                <label for="returnDate">Return date:</label>
                <input type="date" id="returnDate" name="returnDate" [(ngModel)]="searchData.returnFlight.returnDate">
            </div>
            -->
        </div>

        <!-- NOT IMPLEMENTED -->
        <!--
        <div class="expand-results">
            <input type="checkbox" id="expand-results" name="expand-results" />
            <label for="expandDates">Show flights close to selected date</label>
        </div>
        -->
        <div class="location-section">

            <div class="location-from">
                <label for="locationFrom">From destination</label>
                <select id="locationFrom" formControlName="locationFrom" required>
                    <option value="" disabled>Select</option> 
                    <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
                </select>
            </div>

            <div class="location-to">
                <label for="locationTo">To destination</label>
                <select id="locationTo" formControlName="locationTo">
                    <option value="" disabled>Select</option> 
                    <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
                </select>
            </div>
        </div>

        <div class="passenger-section">
            <label for="passengers">Passengers</label>
            <input type="number" id="passengers" formControlName="passengers" required min="1" max="10">
        </div>
    </div>

    <button type="button" class="submit-btn" (click)="onSubmit()">Check availability</button>

</form>