<!-- Search Form Component Template -->

<!-- Form with Angular Reactive Forms binding -->
<form [formGroup]="searchForm" class="form">

    <!--- Section to choose one way or round trip flights, round trips not yet implemented -->
    <fieldset class="radio-btn-section" aria-label="Trip type">

        <div class="one-way">
            <input type="radio" id="one-way" formControlName="tripType" value="one-way" checked />
            <label for="one-way">One way</label>
        </div>

        <!-- NOT IMPLEMENTED -->
         
        <div class="round-trip">
            <input type="radio" id="round-trip" value="round-trip" [disabled]="true" />
            <label for="round-trip">Round trip - not implemented</label>
        </div>
        
    </fieldset>

    <!-- Departure flight section for user input -->
    <div formGroupName="departureFlight" class="formgroup">

        <!-- Date selection -->
        <div class="date-section">
            <div class="date-from">
                <label for="departureDate">Departure date:</label>
                <input type="date" id="departureDate" formControlName="departureDate" required aria-required="true">
            </div>
            <!-- NOT IMPLEMENTED-->
            <!--
            <div class="date-to" *ngIf="searchData.tripType === 'round-trip'">
                <label for="returnDate">Return date:</label>
                <input type="date" id="returnDate" name="returnDate" [(ngModel)]="searchData.returnFlight.returnDate">
            </div>
            -->
        </div>

        <!-- NOT IMPLEMENTED -->
        <!--
        <div class="expand-results">
            <input type="checkbox" id="expand-results" name="expand-results" />
            <label for="expandDates">Show flights close to selected date</label>
        </div>
        -->

        <!-- From-location selection -->
        <div class="location-section">

            <div class="location-from">
                <label for="locationFrom">From destination</label>
                <select id="locationFrom" formControlName="locationFrom" required aria-required="true">
                    <option value="" disabled>Select</option> 
                    <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
                </select>
            </div>

            <!-- To-location selection -->
            <div class="location-to">
                <label for="locationTo">To destination</label>
                <select id="locationTo" formControlName="locationTo" required aria-required="true">
                    <option value="" disabled>Select</option> 
                    <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
                </select>
            </div>
        </div>

        <!-- Number of passengers selection -->
        <div class="passenger-section">
            <label for="passengers">Passengers</label>
            <input type="number" id="passengers" formControlName="passengers" required min="1" max="10" aria-required="true" aria-describedby="passengerHelp">
            <small id="passengerHelp">Enter the number of passengers (1-10)</small>
        </div>
    </div>

    <!-- Submit button that triggers the onSubmit function -->
    <button type="submit" class="submit-btn" (click)="onSubmit()">Check availability</button>

</form>