@import './variables';

@mixin form-frame {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;

    @media (min-width: $sm) {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        min-width: none;
        max-width: none;  
    }

    .closable {
        display: block;
        align-self: end;

        @media (min-width: $sm) {
            display: none;
        }

        .close-btn {
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: $color3;
            font-size: $size3;
        }
    }
}

@mixin button {
    cursor: pointer;
    color: $color2;
    font-family: $font1;
    font-size: $size1;
    text-transform: uppercase;
    background-color: $color5;
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;

    &:hover {
        color: $color3;
    }
}