
$sm: 769px;
$md: 1024px;
$lg: 1025px;

$font1: 'Lora', serif;
$font2: 'Playfair Display', serif;
$font3: 'Raleway', sans-serif;

$color1: #666666;
$color2: white;
$color3: black;
$color4: #6649a6;
$color5: #db8956;

$size1: 1rem;
$size2: 1.5rem;
$size3: 2.5rem;
$size4: 3.5rem;

