@use "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/styles.scss";
@import "../../../assets/styles/mixins.scss";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $color3;
    padding: 3rem 0;
    width: 100%;
    z-index: 3;

    @media (min-width: $sm) {
        flex-direction: column;
        padding: 0;
    }
}

.mob-menu {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
}

.btn-icon {
    font-size: $size3;
    color: $color2;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;

    &:hover {
        color: $color5;
    }
}

.dropdown-menu {
    position: absolute;
    top: 70%;
    left: 0;
    background-color: $color2;
    border: 2px solid $color3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 2;

    .mob-menu-item {
        padding: 0.8rem;
        font-size: $size1;
        font-family: $font3;

        &:hover {
            background-color: $color5;
            color: $color2;
        }
    }
}

[hidden] {
    display: none;
  }

.title-container {
    text-align: center;

    a:hover {
        color: inherit;
    }
}

.main-title {
    font-weight: 400;
    font-size: $size3;
    color: $color2;

    @media (min-width: $sm) {
        font-size: $size4;
        font-weight: 700;
        line-height: 0.5;
    }
   
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    font-size: $size2;
    font-family: $font1;
    color: $color2;
    line-height: 1.6;
    margin-bottom: 1rem;
}


