<div class="flight-list">

    <!-- ONE WAY -->
    <div class="one-way-section">
        <h3>Departure</h3>
        <div class="search-data" >
            
            <ul>
                <li class="date-span"><span>{{ searchData.departureFlight.departureDate }}</span>&nbsp;</li>
                <li>from <span>{{ searchData.departureFlight.locationFrom }}</span>&nbsp;</li>
                <li>to <span>{{ searchData.departureFlight.locationTo }}</span></li>
                <li>&nbsp;<span>{{ searchData.departureFlight.passengers }}</span>&nbsp;passengers</li>
            </ul>

        </div>
    
        <div class="flights-table">
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>Price</th>
                        <th>Airports</th>
                        <th>Seats Available</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of departureFlights">
                        <td>{{ flight.departureTime | date:'HH:mm' }}</td>
                        <td>{{ flight.duration }}</td>
                        <td>{{ flight.priceTotal }} SEK</td>
                        <td>{{ flight.departureAirport }} to {{ flight.arrivalAirport }}</td>
                        <td>{{ flight.availableSeats }}</td>
                        <td><button class="book-btn">Book</button></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

   
    <!-- ROUND TRIP -->
        <div class="round-trip-section" *ngIf="searchData.tripType === 'round-trip' && returnFlights.length > 0">
            <h3>Return</h3>
            <div class="search-data">
            
                <ul>
                    <li class="date-span"><span>{{ searchData.returnFlight.returnDate }}</span>&nbsp;</li>
                    <li>from <span>{{ searchData.departureFlight.locationTo }}</span>&nbsp;</li>
                    <li>to <span>{{ searchData.departureFlight.locationFrom }}</span></li>
                    <li>&nbsp;<span>{{ searchData.returnFlight.passengers }}</span>&nbsp;passengers</li>
                </ul>

            </div>

        <div class="flights-table" >
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>Price</th>
                        <th>Airports</th>
                        <th>Seats Available</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of returnFlights">
                        <td>{{ flight.departureTime | date:'HH:mm' }}</td>
                        <td>{{ flight.duration }}</td>
                        <td>{{ flight.priceTotal }} SEK</td>
                        <td>{{ flight.departureAirport }} to {{ flight.arrivalAirport }}</td>
                        <td>{{ flight.availableSeats }}</td>
                        <td><button class="book-btn">Book</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
        
    </div>




</div>

