<div class="flight-list">

    <!-- ONE WAY -->
    <div class="one-way-section">
        <div class="search-data" >

            <ul>
                <span>Search input: </span>
                <li>Date: <span>{{ searchData.departureFlight.departureDate }}</span> </li>
                <li>From: <span>{{ searchData.departureFlight.locationFrom }}</span></li>
                <li>To: <span>{{ searchData.departureFlight.locationTo }}</span></li>
                <li>Passengers: <span>{{ searchData.departureFlight.passengers }}</span></li>
            </ul>

        </div>
    
        <div class="flights-table">
            <h3>Departure flights</h3>

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Local Departure Time</th>
                        <th>Duration</th>
                        <th>Destination</th>
                        <th>Price</th>
                        <th>Airports</th>
                        <th>Seats Available</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of departureFlights">
                        <td>{{ searchData.departureFlight.departureDate }}</td>
                        <td>{{ flight.departureTime }}</td>
                        <td>{{ flight.duration }} h</td>
                        <td>{{ searchData.departureFlight.locationTo }}</td>
                        <td>{{ flight.priceTotal }} SEK</td>
                        <td>{{ flight.departureAirport }} => {{ flight.arrivalAirport }}</td>
                        <td>{{ flight.availableSeats }}</td>
                        <td><button class="book-btn">Book</button></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

   
    <!-- ROUND TRIP -->
        <div class="round-trip-section" *ngIf="searchData.tripType === 'round-trip' && returnFlights.length > 0">
            <div class="search-data">
            
                <ul>
                    <span>Search input: </span>
                    <li>Date: <span>{{ searchData.returnFlight.returnDate }}</span> </li>
                    <li>From: <span>{{ searchData.returnFlight.locationFrom }}</span></li>
                    <li>To: <span>{{ searchData.returnFlight.locationTo }}</span></li>
                    <li>Passengers: <span>{{ searchData.returnFlight.passengers }}</span></li>
                </ul>

            </div>

        <div class="flights-table" >
            <h3>Return flights</h3>

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Local Departure Time</th>
                        <th>Duration</th>
                        <th>Destination</th>
                        <th>Price</th>
                        <th>Airports</th>
                        <th>Seats Available</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of returnFlights">
                        <td>{{ searchData.returnFlight.returnDate }}</td>
                        <td>{{ flight.departureTime }}</td>
                        <td>{{ flight.duration }} h</td>
                        <td>{{ searchData.departureFlight.locationFrom }}</td>
                        <td>{{ flight.priceTotal }} SEK</td>
                        <td>{{ flight.departureAirport }} => {{ flight.arrivalAirport }}</td>
                        <td>{{ flight.availableSeats }}</td>
                        <td><button class="book-btn">Book</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
        
    </div>




</div>

