@use "../../../../assets/styles/variables";
@import "../../../../assets/styles/styles";
@import "../../../../assets/styles/mixins";
  
.manage-users {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.title {
    font-family: $font1;
    font-size: $size3;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}

.users-table {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    font-family: $font1;
    font-weight: 500;
    margin-bottom: 2rem;

    h3 {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 1.5rem;
        line-height: 1.4;
        
        th {
            text-align: initial;
            border-bottom: 1px solid $color2;
            font-weight: 700;
            padding: 0.8rem;
        }

        td {
           border-bottom: 1px solid $color2;
           padding: 0.8rem;
        }

        button {
            height: auto;
            width: auto;
            padding: 0 0.3rem;

            &:hover {
                color: $color3;
                cursor: pointer;
            }
        }
    }

    .edit-btn {
        color: $color2;
        background-color: $color1;
    }
    .delete-btn {
        color: $color2;
        background-color: red;
    }
}








