@use "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/styles.scss";
@import "../../../../assets/styles/mixins.scss";

.flight-list {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    width: 100%;
    min-height: 70vh;
    background-color: transparent;
    margin-bottom: 3rem;

    @media (min-width: $lg) {
        font-size: $size1;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.one-way-section,
.round-trip-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color2;
}

.search-data {
    width: 100%;
    font-family: $font3;
    font-weight: 700;
    background-color: $color4;
    
    ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;

        .date-span {
            font-size: $size2;
            margin-right: 3rem;
        }
    }
}

.flights-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color2;
    font-family: $font1;
    font-weight: 500;

    h3 {
        text-align: center;
    }

    table {
        padding: 1rem;
        border-collapse: collapse;
        margin: 1.5rem;
        line-height: 1.4;
        
        th {
            text-align: initial;
            border-bottom: 1px solid #ccc;
        }

        td {
           border-bottom: 1px solid #ccc;
        }
    }
}

.confirm-btn-section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $color2;
    padding: 2rem;

    .btn {
        @include button;
        height: auto;
        width: auto;
        padding: 0 0.3rem;
        //border-color: $color1;
        //background-color: $color4;
        //color: $color2;
    
        &:hover {
          //  color: $color3;
            //cursor: pointer;
        }
    
        @media (min-width: $lg) {
            font-size: 1.2rem;
        }
    }

}







