<div class="flight-list">

    <!-- ONE WAY -->
    <section class="one-way-section">
        <h3>Departure</h3>
        <div class="search-data" >
            
            <ul>
                <li class="date-span"><span>{{ searchData.departureFlight.departureDate }}</span>&nbsp;</li>
                <li>from <span>{{ searchData.departureFlight.locationFrom }}</span>&nbsp;</li>
                <li>to <span>{{ searchData.departureFlight.locationTo }}</span></li>
            </ul>

        </div>

        <form [formGroup]="flightSelectionForm">
        
            <div class="flights-table">
                <table aria-label="Flight options for departure">
                    <thead>
                        <tr>
                            <th>Dep Time</th>
                            <th>Duration</th>
                            <th>Price</th>
                            <th>Passengers</th>
                            <th>Direct</th>
                            <th>Seats left</th>
                            <th aria-label="Select flight in this column">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let flight of departureFlights; let i = index">
                            <td>{{ flight.departureDateTime }}</td>
                            <td>{{ flight.duration }}</td>
                            <td>{{ flight.priceTotal }} SEK</td>
                            <td>{{ searchData.departureFlight.passengers }}</td>
                            <td aria-label="Direct flight">&#10004;</td>
                            <td>{{ flight.availableSeats }}</td>
                            <td><input type="radio" [id]="'depdepartureFlight' + i" [value]="i" formControlName="departureFlightIndex"/></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </form>

    </section>

   
    <!-- ROUND TRIP  not implemented-->
     <!--
    <div class="round-trip-section" *ngIf="searchData.tripType === 'round-trip' && returnFlights.length > 0">
        <h3>Return - not implemented</h3>
        <div class="search-data">
            
            <ul>
                <li class="date-span"><span>{{ searchData.returnFlight.returnDate }}</span>&nbsp;</li>
                <li>from <span>{{ searchData.departureFlight.locationTo }}</span>&nbsp;</li>
                <li>to <span>{{ searchData.departureFlight.locationFrom }}</span></li>
            </ul>
        </div>

        <form [formGroup]="flightSelectionForm">
            <div class="flights-table" >
                <table>
                    <thead>
                        <tr>
                            <th>Dep Time</th>
                            <th>Duration</th>
                            <th>Price</th>
                            <th>Passengers</th>
                            <th>Direct</th>
                            <th>Seats left</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let flight of returnFlights; let i = index">
                            <td>{{ flight.departureTime | date:'HH:mm' }}</td>
                            <td>{{ flight.duration }}</td>
                            <td>{{ flight.priceTotal }} SEK</td>
                            <td>{{ searchData.departureFlight.passengers }}</td>
                            <td>&#10004;</td>
                            <td>{{ flight.availableSeats }}</td>
                           
                            <td><input type="radio" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        
    </div>
     -->

    <div class="confirm-btn-section">
        <button type="submit" class="btn" (click)="confirmSelection()">Select</button>
    </div>
</div>

