<main class="view-flight">
    <div class="page-content">
        <div title-container>
            <h2 class="title">{{ title }}</h2>
            <p class="description">Details for flight {{ flight.flightNumber }} on {{ flight.departureDate }}</p>
        </div>

        <div class="table-wrapper">   
            <table>

                <tr>
                    <th>Flight Number</th>
                    <td>{{ flight.flightNumber }}</td>
                </tr>
                <tr>
                    <th>Airline</th>
                    <td>{{ flight.airlineName }}</td>
                </tr>
                <tr>
                    <th>Passengers</th>
                    <td>{{ flight.numberOfPassengers }}</td>
                </tr>
                <tr>
                    <th>Departure On</th>
                    <td>{{ flight.departureDateTime }}</td>
                </tr>
                <tr>
                    <th>Arrival On</th>
                    <td>{{ flight.arrivalDateTime }}</td>
                </tr>
                <tr>
                    <th>Departure At</th>
                    <td>{{ flight.departureCity }} - {{ flight.departureAirport }}, {{ flight.departureAirportCode }}</td>
                </tr>
                <tr>
                    <th>Arrival At</th>
                    <td>{{ flight.arrivalCity }} - {{ flight.arrivalAirport }}, {{ flight.arrivalAirportCode }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ flight.priceTotal }} {{ flight.priceCurrency }}</td>
                </tr>
                <tr>
                    <th>Seats Available</th>
                    <td>{{ flight.availableSeats }}</td>
                </tr>
                <tr>
                    <th>Flight Class</th>
                    <td>{{ flight.class }}</td>
                </tr>

            </table>
        </div>
        <button *ngIf="!bookingSuccessful" class="book-btn" (click)="onConfirmBooking()">Confirm booking</button>
    </div>

    <div *ngIf="!isMobile" class="image-container">
        <img class="img" src="assets/images/airport-inside.jpg" alt="inside airport" />
    </div>

    <div *ngIf="bookingSuccessful">
        <app-booking></app-booking>
    </div>

</main>